.header {
  padding-top: 27px;
  padding-bottom: 45px;
}

.header__container {
  display: grid;
  grid-template-columns: 2fr 3fr 7fr 4fr;
  gap: 10px;
  align-items: center;
}

.header__link-logo {
  width: 190px;
  height: 41px;
  align-self: end;
}

.header__logo {
  display: block;
}

.navigation {
  justify-self: center;
}

.navigation__btn {
  display: flex;
  gap: 7px;
  align-items: center;
  background-color: #3670C7;
  border-radius: 10px;
  font-size: 22px;
  line-height: 1.5;
  min-width: 151px;
  padding: 9px 28px 12px;
}

.navigation__btn::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background-image: url("../../img/sort.svg");
}

.form {
  display: grid;
  align-items: center;
  grid-template-columns: 5fr 2fr;
  background-color: #EFEFEF;
  border-radius: 30px;
}

.form__label {
  grid-column: 1 / 7;
  display: block;
}

.form__search {
  font-size: 16px;
  font-weight: 700;
  display: block;
  color: #8F8F8F;
  width: 100%;
  padding: 15px 40px 18px;
}

.form__btn {
  display: block;
  grid-column: 7 / 8;
  min-width: 101px;
  height: 54px;
  background-color: #3670C7;
  border-radius: 30px;
  background-image: url("../../img/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icons {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 70px;
  justify-content: end;
}

.icons__link {
  font-weight: 700;
  font-size: 16px;
  color: #2D2D2D;
  padding-top: 40px;
  background-position: center top;
  background-repeat: no-repeat;
}

.icons__link_type_profile {
  background-image: url("../../img/profile.svg");
}

.icons__link_type_basket {
  background-image: url("../../img/basket.svg");
}

.icons__link_type_favorite {
  background-image: url("../../img/favorite.svg");
}

/* ---------- media для max-width: 1500px ---------- */

@media (max-width: 1500px) {
  .header {
    padding-top: 34px;
    padding-bottom: 31px;
  }

  .header__container {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 31px;
    grid-template-areas:
    "logo icons"
    "nav search";
  }

  .header__link-logo {
    grid-area: logo;
  }

  .navigation {
    grid-area: nav;
    justify-self: start;
  }

  .form {
    grid-area: search;
  }

  .icons {
    grid-area: icons;
    gap: 40px;
  }
}

/* ---------- media для max-width: 910px ---------- */

@media (max-width: 910px) {
  .header {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .header__container {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    column-gap: 0;
    row-gap: 25px;
    grid-template-areas:
    "logo . icons"
    "nav search search";
  }

  .header__link-logo {
    width: 165px;
    height: 35px;
  }

  .navigation__btn {
    gap: 4px;
    font-size: 16px;
    min-width: 115px;
    padding: 7px 21px 11px;
  }

  .form__search {
    font-size: 12px;
    padding: 15px 25px;
  }

  .form__btn {
    min-width: 82px;
    height: 42px;
  }

  .icons {
    gap: 30px;
  }

  .icons__link {
    font-size: 12px;
    padding-top: 30px;
    background-size: 30px 30px;
  }
}

/* ---------- media для max-width: 630px ---------- */

@media (max-width: 630px) {
  .header {
    padding-top: 13px;
    padding-bottom: 15px;
  }

  .header__container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    grid-template-areas:
    "logo ."
    "nav icons"
    "search search";
  }

  .header__link-logo {
    width: 114px;
    height: 25px;
    display: flex;
    align-items: end;
  }

  .navigation__btn {
    font-size: 12px;
    min-width: 79px;
    border-radius: 4px;
    padding: 5px 14px 7px;
    gap: 2px;
  }

  .navigation__btn::before {
    width: 14px;
    height: 14px;
  }

  .form__search {
    font-size: 8px;
    padding: 11px 16px;
  }

  .form__btn {
    min-width: 50px;
    height: 30px;
    background-size: 20px 20px;
  }

  .icons {
    gap: 20px;
  }

  .icons__link {
    width: 30px;
  }

  .icons__text {
    position: fixed;
    transform: scale(0);
  }
}


