.header {
  padding-top: 27px;
  padding-bottom: 45px;
}

.header__container {
  display: grid;
  grid-template-columns: 2fr 3fr 7fr 4fr;
  align-items: center;
}

.header__logo {
  width: 190px;
  height: 41px;
  align-self: flex-end;
}

.navigation {
  justify-self: center;
}

.navigation__btn {
  display: flex;
  gap: 7px;
  align-items: center;
  background-color: #3670C7;
  border-radius: 10px;
  font-size: 22px;
  line-height: 1.5;
  min-width: 151px;
  padding: 9px 28px 12px;
}

.navigation__btn::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background-image: url("../../img/sort.svg");
}

.form {
  display: grid;
  align-items: center;
  grid-template-columns: 5fr 2fr;
  background-color: #EFEFEF;
  border-radius: 30px;
}

.form__label {
  grid-column: 1 / 7;
  display: block;
}

.form__search {
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  color: #8F8F8F;
  width: 100%;
  padding: 15px 40px 18px;
}

.form__btn {
  display: block;
  grid-column: 7 / 8;
  min-width: 101px;
  height: 54px;
  background-color: #3670C7;
  border-radius: 30px;
  background-image: url("../../img/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icons {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 70px;
  justify-content: end;
}

.icons__link {
  font-weight: 700;
  font-size: 16px;
  color: #2D2D2D;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  gap: 4px;
}

.icons__link_type_profile::before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background-image: url("../../img/profile.svg");
}

.icons__link_type_basket::before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background-image: url("../../img/basket.svg");
}

.icons__link_type_favorite::before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background-image: url("../../img/favorite.svg");
}

@media (max-width: 1024px) {
  .header {
    padding-top: 34px;
    padding-bottom: 30px;
  }

  .header__container {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 34px;
    grid-template-areas: 
    "logo icons"
    "nav search";
  }

  .header__logo {
    grid-area: logo;
  }

  .navigation {
    grid-area: nav;
    justify-self: start;
  }

  .form {
    grid-area: search;
  }

  .icons {
    grid-area: icons;
    gap: 40px;
  }

}

@media (max-width: 768px) {
  
}

@media (max-width: 320px) {
  
}


