.banner {
  padding-top: 45px;
  padding-bottom: 30px;
}

.banner__container {
  padding-top: 152px;
  padding-bottom: 35px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../img/main-laptop.jpeg");
  background-position: center;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.banner__title {
  font-weight: 700;
  font-size: 70px;
  margin-bottom: 94px;
  padding-left: 112px;
}

.timer {
  max-width: 473px;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
}

.timer__text {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
}

.timer__counter {
  display: flex;
  gap: 30px;
  font-size: 32px;
}

.timer__number {
  font-size: 60px;
}

/* ---------- media для max-width: 1500px ---------- */

@media (max-width: 1500px) {
  .banner {
    padding-top: 25px;
    padding-bottom: 11px;
  }

  .banner__container {
    padding-top: 83px;
    padding-bottom: 35px;
    border-radius: 16px;
  }

  .banner__title {
    font-size: 40px;
    margin-bottom: 61px;
    padding-left: 80px;
  }

  .timer {
    max-width: 314px;
  }

  .timer__text {
    margin-bottom: 11px;
  }

  .timer__counter {
    gap: 23px;
    font-size: 20px;
  }

  .timer__number {
    font-size: 40px;
  }
}

/* ---------- media для max-width: 910px ---------- */

@media (max-width: 910px) {
  .banner {
    padding-top: 24px;
    padding-bottom: 20px;
  }

  .banner__container {
    padding-top: 67px;
    padding-bottom: 30px;
  }

  .banner__title {
    font-size: 30px;
    margin-bottom: 80px;
    padding-left: 80px;
  }

  .timer {
    max-width: 229px;
  }

  .timer__text {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .timer__counter {
    gap: 10px;
    font-size: 16px;
  }

  .timer__number {
    font-size: 30px;
  }
}

/* ---------- media для max-width: 630px ---------- */

@media (max-width: 630px) {
  .banner {
    padding-top: 24px;
    padding-bottom: 10px;
  }

  .banner__container {
    padding-top: 52px;
    border-radius: 8px;
    text-align: center;
  }

  .banner__title {
    font-size: 22px;
    margin-bottom: 189px;
    padding-left: 0;
  }

  .timer {
    max-width: 167px;
  }

  .timer__text {
    font-size: 8px;
    margin-bottom: 4px;
  }

  .timer__counter {
    gap: 8px;
    font-size: 12px;
  }

  .timer__number {
    font-size: 20px;
  }
}
