.promo {
  padding-top: 30px;
  padding-bottom: 140px;
}

.promo__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(400px, 550px));
  grid-template-rows: repeat(2, 1fr);
  gap: 60px;
}

.promo__item {
  display: grid;
}

.card {
  display: flex;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

.card__text {
  display: block;
}

.card__discount {
  display: block;
  text-align: center;
  width: 88px;
  height: 88px;
  background-color: #FFBD13;
  color: white;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
  border-radius: 50%;
  padding: 24px 0 25px;
}

.promo__item_box_one {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 245px 228px;
  gap: 43px 60px;
}

.promo__item_box_two {
  grid-column: 2 span 2;
}

.promo__item_box_three {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 60px;
}

.promo__item_box_four {
  grid-column: 1 / 3;
}

.promo__item_box_five {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 245px 245px;
  gap: 26px 60px;
}

.card_number_one {
  align-items: end;
  background-image: linear-gradient(181.33deg, rgba(0, 0, 0, 0) 9.23%, rgba(0, 0, 0, 0.2) 98.87%), url(../../img/book.jpeg);
  background-position: 50%;
  padding: 27px 20px;
  font-size: 30px;
}

.card_number_two {
  flex-direction: column;
  gap: 10px;
  justify-content: end;
  align-items: end;
  background-image: linear-gradient(179.81deg, rgba(7, 7, 7, 0) 30.77%, rgba(0, 0, 0, 0.2) 99.83%), url(../../img/watch.jpeg);
  background-position: 50%;
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  padding: 27px 20px 27px 14px;
  /* white-space: nowrap; */
}

.card_number_three {
  background-image: linear-gradient(180.99deg, rgba(0, 0, 0, 0) 8.18%, rgba(0, 0, 0, 0.2) 99.15%), url(../../img/shoe.jpeg);
  background-position-y: 65%;
  grid-column: 1 / 3;
  padding: 20px;
}

.card_number_four {
  max-width: 516px;
  justify-self: end;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 25.39%, rgba(0, 0, 0, 0.16) 100%), url(../../img/shoes.jpeg);
  grid-column: 1 / 3;
  background-size: cover;
  background-size: 110%;
  background-position: 10% 50%;
  padding: 20px;
}

.card_number_five {
  align-items: end;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 7.46%, rgba(0, 0, 0, 0.2) 100%), url(../../img/gift.jpeg);
  background-position-y: 65%;
  padding: 30px;
}

.card_number_six {
  align-items: end;
  justify-content: space-between;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 12.28%, rgba(0, 0, 0, 0.2) 100%), url(../../img/laptop.jpeg);
  background-position-y: 55%;
  padding: 30px 20px 20px 30px;
}

.card_number_seven {
  align-items: end;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 25.39%, rgba(0, 0, 0, 0.16) 100%), url(../../img/year-2022.jpeg);
  background-position-y: 60%;
  grid-column: 1 / 3;
  padding: 50px;
}

.card_number_eight {
  justify-content: end;
  align-items: end;
  background-image: linear-gradient(179.81deg, rgba(7, 7, 7, 0) 30.77%, rgba(0, 0, 0, 0.2) 99.83%), url(../../img/women.jpeg);
  background-position: 50%;
  grid-row: 1 / 3;
  padding: 20px;
}

.card_number_nine {
  align-content: space-between;
  background-image: linear-gradient(179.81deg, rgba(7, 7, 7, 0) 30.77%, rgba(0, 0, 0, 0.2) 99.83%), url(../../img/clean.jpeg);
  background-position-x: 75%;
  font-weight: 700;
  font-size: 30px;
  padding: 20px;
}

.card_number_ten {
  background-image: linear-gradient(179.81deg, rgba(7, 7, 7, 0) 30.77%, rgba(0, 0, 0, 0.2) 99.83%), url(../../img/balls.jpeg);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  background-size: 220%;
  background-position-y: 90%;
}

.card__text_bg_blue {
  margin-top: auto;
  padding: 24px 21px;
  background-color: #38C0EB;
  border-radius: 20px;
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
}

.card__text_color_red {
  margin-top: auto;
  padding: 30px 40px;
  background-color: #ffffff;
  color: #F91155;;
  border-radius: 20px;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
}

.card__text_weight_bold {
  font-size: 40px;
  font-weight: 700;
}

.card__text_size_big {
  font-size: 56px;
  line-height: calc(67.2 / 56);
  font-weight: 700;
}

.card__text_position_baseline {
  padding-bottom: 15px;
}

@media (max-width: 1500px) {
  .promo {
    padding-top: 11px;
    padding-bottom: 100px;
  }

  .promo__list {
    grid-template-columns: minmax(300px, 464px) minmax(300px, 446px);
    grid-template-rows: 446px 410px;
    grid-auto-rows: 450px;
    gap: 22px 30px;
  }

  .promo__item_box_one {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 202px 220px;
    gap: 24px 60px;
  }
  
  .promo__item_box_two {
    grid-column: 2 / 3;
  }
  
  .promo__item_box_three {
    grid-template-columns: 1fr;
    grid-template-rows: 194px;
    gap: 22px;
  }
  
  .promo__item_box_four {
    grid-column: 1 / 3;
  }
  
  .promo__item_box_five {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    grid-template-columns: minmax(150px, 206px) minmax(140px, 196px);
    grid-template-rows: 196px 196px;
    gap: 18px 44px;
  }

  .card_number_one {
    background-position: 50%;
    padding: 28px 3px 28px 9px;
    font-size: 24px;
  }

  .card_number_two {
    padding: 10px 10px 10px 9px;
    font-size: 24px;
    gap: 14px;
  }

  .card_number_three {
    padding: 17px 10px;
    background-position-y: 65%;
  }

  .card_number_four {
    min-width: 100%;
    justify-self: stretch;
  }

  .card_number_five {
    font-size: 30px;
    padding: 27px 60px 27px 30px;
  }

  .card_number_six {
    padding: 10px;
    padding-left: 30px;
  }

  .card_number_seven {
    min-height: 418px;
    align-self: end;
    padding: 39px 30px;
  }

  .card_number_eight {
    padding: 10px 23px;
  }

  .card_number_nine {
    padding: 10px 2px 19px 4px;
    font-size: 20px;
  }

  .card__text_bg_blue {
    margin-top: auto;
    padding: 24px 27px 32px 25px;
    font-size: 30px;
    line-height: 1.2;
  }

  .card__text_color_red {
    margin-top: auto;
    padding: 24px 47px;
    font-size: 30px;
  }

  .card__text_weight_bold {
    font-size: 30px;
    line-height: calc(39 / 30);
  }

  .card__text_size_big {
    font-size: 40px;
    line-height: 1.2;
  }

  .card__text_position_baseline {
    font-size: 30px;
    padding-bottom: 25px;
  }
}


/* ------------------------ */







@media (max-width: 910px) {
  .promo {
    padding-top: 18px;
    padding-bottom: 100px;
  }

  .promo__list {
    grid-template-columns: minmax(180px, 300px) minmax(200px, 380px);
    grid-template-rows: 278px 274px 337px;
    gap: 22px 20px;
    grid-auto-flow: row dense;
  }

  .card__discount {
    width: 50px;
    height: 50px;
    font-size: 16px;
    padding: 15px 0;
  }

  .promo__item_box_one {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 130px 126px;
    gap: 22px 40px;
  }
  
  .promo__item_box_three {
    grid-template-columns: 1fr;
    grid-template-rows: 126px 126px;
    gap: 22px;
  }
  
  .promo__item_box_five {
    align-content: end;
    grid-template-columns: minmax(150px, 253px) minmax(60px, 82px);
    grid-template-rows: 83px 83px;
    gap: 8px 21px;
  }

  .card {
    border-radius: 12px;
  }

  .card_number_one {
    font-size: 20px;
    line-height: 1.1;
    padding: 15px 3px 15px 10px;
  }
  .card_number_two {
    font-size: 16px;
    padding: 17px 10px 10px 5px;
    gap: 0;
    justify-content: space-between;
  }
  .card_number_three {
    padding: 10px;
  }
  .card_number_four {
    min-height: 380px;
    padding: 10px;
  }
  .card_number_five {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    padding: 18px 80px 18px 21px;
  }
  .card_number_six {
    padding-left: 21px;
  }
  .card_number_seven {
    min-height: 100%;
    padding: 26px;
    background-position-y: 70%;
  }
  .card_number_eight {
    padding: 10px;
    background-position-y: 5%;
  }
  .card_number_nine {
    padding: 3px;
    padding-bottom: 11px;
    font-size: 12px;
    line-height: 1.2;
    background-position-x: 50%;
  }

  .card__text_bg_blue {
    padding: 14px 30px 18px 24px;
    font-size: 16px;
    line-height: 1.1;
    border-radius: 12px;
  }

  .card__text_color_red {
    padding: 22px 34px;
    font-size: 20px;
    border-radius: 12px;
  }

  .card__text_weight_bold {
    font-size: 26px;
    line-height: inherit;
  }

  .card__text_size_big {
    font-size: 26px;
    line-height: 1.1;
  }

  .card__text_position_baseline {
    font-size: 16px;
    line-height: 1.2;
    padding-bottom: 8px;
  }

  .card__discount_size_small {
    width: 36px;
    height: 36px;
    font-size: 12px;
    padding: 9px 0 11px;
  }
}

























@media (max-width: 630px) {
  



  .card_number_one
  .card_number_two
  .card_number_three
  .card_number_four
  .card_number_five
  .card_number_six
  .card_number_seven
  .card_number_eight
  .card_number_nine
  .card_number_ten
}